{% extends 'index.html' %}
{% block content %}

<div id="accordion">
    <div class="card">
        <div id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-light btn-lg btn-block bg-info text-white" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false"
                        aria-controls="collapseFilter">
                    Filters
                </button>
            </h5>
        </div>

        <div id="collapseFilter" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form method="get">
                    {{filter_clients.form.as_p}}
                    <button type="submit" class="btn btn-large btn-success pull-right text-center">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% for client in clients %}
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#client{{client.id}}" aria-expanded="false" aria-controls="client{{client.id}}">
                    {{client}}
                </button>
            </h2>
        </div>
        <div id="client{{client.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    {{client}}
                    <hr>
                    <p>Mobile: {{client.phone_number}}</p>
                    <p>Mail: {{client.email}}</p>
                    <p>City: {{client.zip_code}} {{client.city}}</p>
                    <p>Address: {{client.address}}</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <a href="" class="btn btn-outline-info">See ongoing projects</a>
                            </div>
                            <div class="col-sm">
                                <a href="{% url 'client' client.id%}" class="btn btn-outline-info">Edit info</a>
                            </div>
                            <div class="col-sm">
                                <a href="{% url 'add_valuation' client.id %}" class="btn btn-outline-info">Start Valuation</a>
                            </div>
                            <div class="col-sm">
                                <a href="{% url 'prefix' client.id %}" class="btn btn-outline-info"> Valuation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}index.html'%}