{% extends 'index.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-success btn-lg">
                <a href="{% url 'register' %}" class="text-white">Add employee</a>
            </button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-success btn-lg">
                <a href="{% url 'create_client' %}" class="text-white">Add client</a>
            </button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-success btn-lg">
                <a href="{% url 'create_project' %}" class="text-white">Add project</a>
            </button>
        </div>
    </div>
</div>
<hr>
<div class="btn-group-vertical">
    {% for client in clients %}
    <div class="col-sm">
        {{client}}
    </div>
    {% endfor %}
</div>
<div class="btn-group-vertical">
    {% for project in projects %}
    <div class="col-sm">
        {{project}}
    </div>
    {% endfor %}
</div>

{% endblock %}