{% extends 'index.html' %}
{% block content %}
{% include 'admin_panel.html' %}

<form method="get">
    {{myFilter.form}}
    <button type="submit" class="btn btn-large btn-success pull-right text-center">Search</button>
</form>

{% for project in projects %}
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#project{{project.id}}" aria-expanded="false" aria-controls="project{{project.id}}">
                    {{project}}
                </button>
            </h2>
        </div>
        <div id="project{{project.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    {{project.client}}
                    <hr>
                    <p>{{project.city}} {{project.address}}</p>
                    <p>Status: {{project.status}} {{project.status_advance}}</p>
                    <hr>
                    <p>Created: {{project.date_created}}</p>
                    <p>Last update: {{project.update_date}}</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <a href="{% url 'project' project.id %}" class="btn btn-outline-info">Edit info</a>
                            </div>
                            <div class="col-sm">
                                <a href="{% url 'create_stage_detail' project.id %}" class="btn btn-outline-info">Add stage detail</a>
                            </div>
                            <div class="col-sm">
                                <a href="{% url 'create_expense' project.id %}" class="btn btn-outline-info">Add expense</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}