{% extends 'index.html' %}
{% block content %}
{% include 'admin_panel.html' %}

{% for employee in employees %}
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#employee{{employee.id}}" aria-expanded="false" aria-controls="employee{{employee.id}}">
                    {{employee}}
                </button>
            </h2>
        </div>
        <div id="employee{{employee.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    {{employee}}
                    <hr>
                    <p>Mobile: {{employee.phone_number}}</p>
                    <p>Mail: {{employee.user.username}}</p>
                    <p>Status: {{employee.status}}</p>
                    <p>Group: {{employee.group}}</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <a href="" class="btn btn-outline-info">See projects</a>
                            </div>
                            <div class="col-sm">
                                <a href="" class="btn btn-outline-info">Edit info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}