{% extends 'index.html' %}
{% block content %}
{% include 'admin_panel.html' %}

{% for client in clients %}
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#client{{client.id}}" aria-expanded="false" aria-controls="client{{client.id}}">
                    {{client}}
                </button>
            </h2>
        </div>
        <div id="client{{client.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    {{client.company_name}} {{client.first_name}} {{client.last_name}}
                    <hr>
                    <p>{{client.email}} {{client.phone_number}}</p>
                    <p>{{client.city}} {{client.adress}}</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <a href="" class="btn btn-outline-info">Edit info</a>
                            </div>
                            <div class="col-sm">
                                <a href="{% url 'create_project' client.id%}" class="btn btn-outline-info">Add project</a>
                            </div>
                            <div class="col-sm">
                                <a href="" class="btn btn-outline-danger">Delete client</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}