{% extends 'index.html' %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Active Projects</li>
                </ol>
            </nav>
            {% for project in projects %}
            <div class="card" style="margin: aouto; margin-top: 5%;">
                <div class="card-header">
                    <h3>{{project}}</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Adress: {{project.city}} {{project.address}}</h5>
                    <p class="card-text">Status: {{project.status}}</p>
                    <ul>
                        {% for employee in project.employees.all %}
                        <li>{{employee}}</li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'create_expense' project.id %}" class="btn btn-primary text-white">Add Expense</a>
                    <a href="{% url 'create_stage_detail' project.id %}" class="btn btn-primary text-white">Add Stage
                        Detail</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if meetings %}
        <div class="col-sm">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Pending meetings</li>
                </ol>
            </nav>
            {% for meeting in meetings %}
            <div class="card" style="margin: aouto; margin-top: 5%;">
                <div class="card-header">
                    <h3>{{meeting.client}}</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Adress: {{meeting.zip_code}} {{meeting.city}} {{meeting.address}}</h5>
                    <p class="card-text">Date: {{meeting.date}} {{meeting.time}}</p>
                    <ul>
                        <a href="{% url 'add_details' meeting.valuation.id %}" class="btn btn-primary text-white">Add
                            valuation details</a>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}


    </div>
</div>

{% endblock %}