{% extends 'index.html' %}
{% block content%}
<div class="login">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group ">
            <label for="UsernameInput">Nazwa użytkownika</label>
            <input type="username" class="form-control" name="username" id="UsernameInput">
        </div>
        <div class="form-group">
            <label for="PasswordInput">Hasło</label>
            <input type="password" class="form-control" name="password" id="PasswordInput">
        </div>
        <button type="submit" class="btn btn-large btn-success pull-right">Login</button>
    </form>
    <div class="login-footer">
        <div class="row">
            {% for message in messages %}
            <h5 class="heading-desc">
                {{message}}</h5>
            {% endfor %}
            <div class="col-xs-6 col-md-6">
                <div class="left-section">
                    <hr>
                    <a href="{% url 'register' %}">Zarejestruj się</a>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 pull-right">


            </div>
        </div>
    </div>
</div>
{% endblock %}
