{% extends 'index.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        {{ forms|crispy}}
        <div class="row">
            <div class="col-sm">
                <div class="card text-center">
                    <div class="card-header">
                        <label for="PhoneNumber">Phone number:</label>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber"
                               placeholder="Only Digits">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center">
                    <div class="card-header">
                        <label for="IsExpert">Expert</label>
                    </div>
                    <div class="card-body">
                        <input type="checkbox" class="form-control" name="IsExpert" id="IsExpert">
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-block btn-success pull-right text-center">Register</button>
    </form>
</div>

{{forms.errors}}


{% endblock %}