{% extends 'index.html' %}
{% block content %}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm">
                {% for field in forms %}

                <div class="card text-center">
                    <div class="card-header">
                        {{field.label}}
                    </div>
                    <div class="card-body">
                        {{field}}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm">
                <div class="card text-center">
                    <div class="card-header">
                        <label for="PhoneNumber">Phone number:</label>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber"
                               placeholder="Only Digits">
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        <label for="group">Group:</label>
                    </div>
                    <div class="card-body">
                        <select class="form-control" name="group" id="group">
                            <option>Washer</option>
                            <option>Painter</option>
                            <option>Expert</option>
                        </select>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-block btn-success pull-right text-center">Register</button>

            </div>
        </div>
    </form>
</div>

{{forms.errors}}


{% endblock %}