{% extends 'index.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-sm">
            {% include 'valuation_form.html' %}
        </div>
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header">
                    Meeting
                </div>
                <div class="card-body">
                    {% for element in meeting %}
                    <h5>{{element.date}} {{element.time}}</h5>
                    <p>{{element.zip_code}} {{element.city}}</p>
                    <p>{{element.address}}</p>
                    <p>Assigned Expert: {{element.employee}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    Valuation details
                </div>
                <div class="card-body text-left">
                    <ul>
                        <li>Wood surface: {{details.surface_area_wood}}</li>
                        <li>Concrete surface: {{details.surface_area_concrete}}</li>
                        <li>Amount of windows: {{details.number_of_windows}}</li>
                        <li>Amount of doors: {{details.number_of_doors}}</li>
                        <li>Layers required: {{details.number_of_layers}}</li>
                        <li>Employees required: {{details.employees_needed}}</li>
                        <li>Estimated work hours: {{details.work_hours}}</li>
                        <li>Paint: {{details.paint}}</li>
                        <li>Color code: {{details.color_code}}</li>
                        <li>Is lift needed: {{details.lift_needed}}</li>
                        <li>Is scaffolding needed: {{details.scaffolding_needed}}</li>
                    </ul>
                    <p>Photos</p>
                    <a href="{% url 'gallery' valuation.id %}" class="btn btn-block btn-info text-dark">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% if not meeting %}
<a href="{% url 'add_meeting' valuation.id %}" class="btn btn-block btn-warning text-dark">Create meeting</a>
{% endif %}
{% if not details %}
<a href="{% url 'add_details' valuation.id %}" class="btn btn-block btn-warning text-dark">Add details</a>
{% endif %}
{% if meeting and details %}
<a href="{% url 'create_project' valuation.id %}" class="btn btn-block btn-warning text-dark">Estimate a project</a>
{% endif %}
{% endblock %}